		<div class="wrap">
	            <footer id="bottom">
	                <small>&copy; 2015  {{site.sitename()}}. All rights reserved.</small>

	                <ul role="navigation">
	                    <li><a href="/feed/rss">RSS</a></li>

	                    <li><a href="/admin/login" title="Administer your site!">Admin area</a></li>

	                    <li><a href="/" title="Return to my website.">Home</a></li>
	                </ul>
	            </footer>

	        </div>
        </div>
    </body>
</html>