{% include "admin/layout/header.html" %}
<hgroup class="wrap">
{% set title = __('category.edit_category', args = (category.title,)) %}
<h1>{{title|safe}}</h1>
</hgroup>
<section class="wrap">
	{{ flash }}
	
	<form method="post" action="/admin/category/{{category.cid}}/edit" novalidate>
		<fieldset class="split">
			<p>
				<label>{{__('category.title')}}:</label>
				<input id="title" name="title" value="{{category.title}}">
				<em>{{__('category.title_explain')}}</em>
			</p>
			<p>
				<label>{{__('category.slug')}}:</label>
				<input id="slug" name="slug" value="{{category.slug}}">
				<em>{{__('category.slug_explain')}}</em>
			</p>
			<p>
				<label>{{__('category.description')}}:</label>
				<textarea name='description' placeholder='{{__('post.content_explain')}}' value='{{category.description}}' rows=10 cols=50 id='html'></textarea>
				<em>{{__('category.description_explain')}}</em>
			</p>
		</fieldset>
		<aside class="buttons">
			<button type='submit' class='btn'>{{__('global.save')}}</button>
			<a href='/admin/category/{{category.cid}}/delete' class='btn delete red'>{{ __('global.delete')}}</a>
		</aside>
	</form>
</section>
<script src="{{ url_for('static', filename="js/slug.js") }}"></script>
{% include "admin/layout/footer.html" %}